section.share
  +stripe()(viewportClass='vertical-space')
    .share__richtext.richtext.readable-width
      h1 #{share.title}
      p #{share.info}
    .share__social.readable-width
      //- BEGIN: AddToAny
      .a2a_kit.a2a_kit_size_32.a2a_default_style
        a.a2a_button_facebook.action-button.social.facebook
        a.a2a_button_twitter.action-button.social.twitter
        a.a2a_button_whatsapp.action-button.social.whatsapp
        //- a.a2a_button_email.action-button.social.email
      //- END: AddToAny
    .share__richtext.richtext.readable-width
      p via E-Mail teilen
    .share__textbox.textbox.readable-width
      .textbox__content
        p Hallo
        p Ich habe gerade gegen die E-ID lobbyiert. Tönt kompliziert? Ist aber ganz einfach. Auf
        p https://www.digitaler-pass.ch/
        p kannst du einer Ständerätin oder einem Ständerat deiner Wahl ein Argument schicken, wieso du gegen eine E-ID von von privaten Unternehmen bist.
        p Es würde mir sehr viel bedeuten, wenn Du dieses Projekt ebenfalls unterstützen würdest.
        p Vielen Dank und freundliche Grüsse
      button.action-button.outline.textbox__button(
        onclick!='utils.copy(\'' + share.clipboardText + '\'); app.actionButton.showOverlay()'
        data-overlay-state='ok'
        data-overlay-label='kopiert'
        data-overlay-autohide='true'
      ) Text kopieren
        .action-button__overlay
