include ../config
block config
include ../mixins/all
block data

doctype
html(lang=lang)
  head
    include ../partials/head

  body(class=template)

    //- SVG sprite sheet
    .visually-hidden
      include ../../assets/icons/symbol/icons.svg

    include ../partials/header

    section.hero
      .hero__inner
        +stripe()
          .hero__content
            h2 #{hero.heading}
            h1 #{hero.title}
            p #{hero.footerLine}
            button.action-button #{hero.callToAction}

    section.carousel
      .carousel__cards
        each card, index in carousel.cards
          .carousel__slide
            +card(
              card.sender, 
              card.recipientName, 
              card.recipientParty, 
              card.subject, 
              card.quote, 
              index
            )
      +stripe()
        .carousel__info
          p.lead #{carousel.infoLead}
          p #{carousel.infoText}
          p: a(href='./campaign.html') Mehr erfahren
      
    section.act
      +stripe()
        .officials
          each official in act.officials
            +official(
              official.name, 
              official.party, 
              official.state, 
              official.count, 
              official.image
            )(class='officials__card')

    +stripe()
      block content

    include ../partials/footer

    script(src=path + 'assets/app.js', async)
